<h1>Dashboard</h1>

<h2>Upcoming Events</h2>

<ul class="events">
  <% @events.each do |event| %>
    <%= render partial: 'events/event_card', locals: { event: event } %>
  <% end %>
</ul>

<h2>Latest Messages</h2>

<ul class="messages">
  <% @messages.each do |message| %>
    <%= render partial: 'messages/event_card', locals: { message: message } %>
  <% end %>
</ul>