<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">
      <%= event.time_range %>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <% if event.invitee %>
        <%= event.invitee.name %> (<%= event.invitee.email %>)
      <% end %>
    </h6>
    <p class="card-text">
    </p>
  </div>
</div>